<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ifa.smp14kotategal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMP14KOTATEGAL"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CobaActivity"
            android:exported="false" />
        <activity
            android:name=".UjianActivity"
            android:exported="false" />
        <activity
            android:name=".FasilitasActivity"
            android:exported="false" />
        <activity
            android:name=".Buku9Activity"
            android:exported="false" />
        <activity
            android:name=".Buku8Activity"
            android:exported="false" />
        <activity
            android:name=".Buku7Activity"
            android:exported="false" />
        <activity
            android:name=".DrumbbandActivity"
            android:exported="false" />
        <activity
            android:name=".FutsalActivity"
            android:exported="false" />
        <activity
            android:name=".PmrActivity"
            android:exported="false" />
        <activity
            android:name=".PramukaActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumkegiatanActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumdrumbbandActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumfutsalActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumdrumbbandActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AlbumfutsalActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AlbumkegiatanActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".PerpusActivity"
            android:exported="false" />
        <activity
            android:name=".EkstrakulikulerActivity"
            android:exported="false" />
        <activity
            android:name=".GaleryActivity"
            android:exported="false" />
        <activity
            android:name=".GuruActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>